/* App.css */
@media print {
  body {
    width: 297mm;
    height: 210mm;
    margin: 0;
  }

  .report-page {
    page-break-after: always;
  }
}
/* 最後のページ用のスタイルを追加 */
.report-page-last {
  page-break-after: auto;
}

.report-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.report-table {
  width: 32%;
  margin-bottom: 20px;
}

.report-header {
  text-align: center;
  margin-top: 0;
}

.report-info {
  text-align: right;
  margin-top: -20px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th, .table td {
  border: 1px solid black;
  padding: 5px;
  text-align: center;
}
